html {
          font-family: Arial, Helvetica, sans-serif;
          background-color: purple;
          color: white;
}

.navbar {
          background-color: #333; 
          padding: 10px;
          text-align: center;
}

.navbar-link {
          padding: 5px;
          font-size: 18px;
}

.navbar-link:hover {
          cursor: pointer;
          background-color: purple;
}

.contents {
          text-align: center;
}

#search {
          border-radius: 32px;
}

#search:hover {
          animation-name: search-ani;
}

@keyframes search-ani {
          from{width: auto;}
          to{width: 150;}
}

.footer {
          background-color: #333;
          padding: 10px;
          text-align: center;
}

.footer-link {
          padding: 5px;
}

.footer-link:hover {
          cursor: pointer;
          background-color: purple;
}